.first-column-container{
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 400px;;
    height: 500px;
    box-shadow: 0 10px 10px rgba(0 , 0, 0 , 0.6);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 37%, rgba(45,253,86,1) 81%);
}

.first-column-container label{
    font-weight: bold;
    margin-bottom: 5px;
}

.first-column-container input{
    padding: 8px;
    border: 1px solid hsl(135, 100%, 50%);
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
}

.first-column-container div {
    margin-bottom: 15px;
}


.first-column-container h2 {
    text-align: center;
}


.second-form-container{
    padding: 20px;
    border-radius: 20px;
    width: 400px;;
    height: 500px;
    box-shadow: 0 10px 10px rgba(0 , 0, 0 , 0.6);
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 37%, rgba(253,187,45,1) 100%);
}

.second-form-container h2,
.second-form-container h3{
    text-align: center;
    padding: 8px;
}



.second-form-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.second-form-container input {
    padding: 8px;
    border: 1px solid rgba(13, 131, 43, 0.356);
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
}

.second-form-container .csop{
    margin-left: 50px;
    margin-bottom: 10px;
}

.second-form-container .box{
    margin-left: 50px;
    margin-bottom: 10px;
}


.page-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

 

.third-form-container{
    padding: 20px;
    border-radius: 20px;
    width: 400px;;
    height: 500px;
    box-shadow: 0 10px 10px rgba(0 , 0, 0 , 0.6);
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 8%, rgba(253,29,29,1) 67%, rgba(131,58,180,1) 97%);
}

button{
    background-color: indigo;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: rgb(9,121,11);
    background: linear-gradient(90deg, rgba(9,121,11,1) 50%, rgba(9,121,11,1) 80%, rgba(0,255,141,1) 100%);;
}
